<div class="container-fluid mx-auto px-auto my-4">
  <div class="row align-center">
    <div class="col-3">
      <div class="card text-center">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Body - Título</h5>
          <p class="card-text">Body - Texto</p>
          <a href="#" class="btn btn-primary">Body - Botão</a>
        </div>
        <div class="card-footer text-muted">Footer</div>
      </div>
    </div>

    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Body - Título</h5>
          <p class="card-text">Body - Texto</p>
          <a href="#" class="btn btn-primary">Body - Botão</a>
        </div>
        <div class="card-footer text-muted">Footer</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-center">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Body - Título</h5>
          <p class="card-text">Body - Texto</p>
          <a href="#" class="btn btn-primary">Body - Botão</a>
        </div>
        <div class="card-footer text-muted">Footer</div>
      </div>
    </div>
  </div>
</div>
