<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button ngbNavLink>First</button>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Second</button>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Third</button>
    <ng-template ngbNavContent>Third content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Fourth</button>
    <ng-template ngbNavContent>Quarta content</ng-template>
  </li>
</ul>
